@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Oxygen+Mono|VT323|Raleway');

*, *:after, *:before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

*{
    margin:0;padding:0;border:0 none;position: relative; outline: none;
}

body, header {
    background: whitesmoke;
}

header > h1 {
    padding: 40px;
    color: #24272E;
    font-family: 'Press Start 2P';
    text-align: center;

}
a { text-decoration: none;}

.texto{
    position: absolute;
    margin-top: 250px;
    margin-left: 20%;
    font-size: 40px;
    font-family: 'Oxygen Mono';
    padding-right: 30%; 
    z-index: 99;

}
#background{
    z-index: 0;
    width: 100%;
}
h3 {
    padding: 5px;
    color: #24272E;
    font-family: 'Press Start 2P';
    text-align: center;
    display: none;
}
.avatar{
    width: 75px;
    position: fixed;
    z-index: 1000;
    cursor: pointer;
}
#container-floating{
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 35px;
    left: -30px;
    z-index: 50px;
  }

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: #24272E;
    text-align: center;
    font-family: VT323;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
    box-shadow: 2px 2px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent white transparent transparent;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  

.container{
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
}

.nav-bar{
    width: 100%;
    display: block;
    margin-bottom: 15px 0;
    background: whitesmoke;
    box-shadow: 0 0.2px 0 0 #24272E; 
}

.nav-bar ul{
    max-width: 100%;
    list-style-type: none;
}

.nav-bar li{
    width: 24%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
    color: #24272E;
}

.nav-bar li a{
    padding: 15px 20px;
    font-size: 30px;
    color: #24272E;
    display: inline-block;
    outline:0;
}

.nav-bar li> a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: #24272E;
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .25s linear;
  }
  .nav-bar li> a:hover:before,
  .nav-bar li> a:focus:before {
    visibility: visible;
    transform: scaleX(1);
  }

  .nav-bar li ul.dropdown{
    position: absolute;
    display: none;
    width: 100px;
    background: whitesmoke;
    z-index:99;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  }

  .nav-bar li:hover > ul.dropdown {
      display: block;
      position: absolute;
      top:100%;
      left: 35%;
    }
  
  .nav-bar li ul.dropdown li{
    float: left;
    width:100%;
    margin:2% 0%;
}
.nav-bar li ul.dropdown li a:hover{
    width: 100%;
}

/*columns and row*/
.row {
    display: flex;
    flex-wrap: wrap;
    /* padding: 0 0; */
  }
  .column {
    flex: 33%;
    max-width: 33%;
    height: auto;
    padding: 0px 0px;
  }
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 1000px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

.img-responsive{
    width: 100%;
}

.hovereffect {
    width: 100%; /*33*/
    height: 100%;/*auto*/
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.hovereffect .overlay {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 2.75em;
	background: #3c4a50;
	color: #fff;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
	visibility: visible;

}

.hovereffect img {
    display: block;
    position: relative;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.hovereffect:hover img {
-webkit-transform: translate3d(0,-10%,0);
	transform: translate3d(0,-10%,0);
}

.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
	color: #fff;
	border: 1px solid #fff;
	margin: 50px 0 0 0;
	background-color: transparent;
}
.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}


.hovereffect p.icon-links a {
	float: left;
    text-decoration: none;
    text-align: left;
    text-size-adjust: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #fff;
}

.hovereffect p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
	visibility: visible;
}

.hovereffect p.icon-links a span:before {
	display: inline-block;
	padding: 8px 10px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.hovereffect:hover .overlay,
.hovereffect:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.hovereffect:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.hovereffect:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.hovereffect:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
/****************************************************/
/*    MOBILE   */
/****************************************************/

@media only screen and (max-width:900px){

    .texto{
        margin-top: 150px;
        margin-left: 10%;    
    }
    .nav-mobile{
        vertical-align: middle;
        width: 100%;
        height: 50px;
        margin: 5px;
        position: absolute;
        top: 0px;
        left: 0px;
        background: none;
        padding: 120x 0 0 10px;
        z-index:99;
        /* transition: left 0.35 ease; */
     }
     
    .nav-bar{
       background: whitesmoke;
       width: 85px;
       height: 85%;
       display: block;
       position:  fixed;
       left: -200px;
       z-index:99;
   }
   .nav-bar.visible{
       left: 0px;
       width: 70%;
       height: 65px;
       transition: left 0.35 ease;
       box-shadow: 0.1px 0.1px 0.1px 0.1px #24272E; 
   }
   
    .menu-icon{
        cursor: pointer;
    }
    .menu-icon span{
        height: 2px;
        background: #24272E;
        margin: 5px;
        display: block;
        width: 20px;
    }
    .nav-bar ul {
        margin-top: 0px;
        margin-left: 20px;
        height: 10%;
    }
    .nav-bar li a{
        display: block;
        color: #24272E;
        font-weight: 600;
    }
    .nav-bar li:first-child:hover a {border-radius: 0; }
        .nav-bar li ul.dropdown {position: absolute;}
        .nav-bar li ul.dropdown li a{
            background: #fff !important;
            border: 2px;
            color: #252d31 !important;
            position: absolute;
            padding: 10px 10px 10px 30px;
            float: inherit; 
        }
        .nav-bar li:hover .arrow-down {
            border-top: 5px solid #24272E;
            position: absolute;
            top: absolute;
            right: 20px;
        }

   .hovereffect{
       width: 300px;
       display: block;
   }
   @media only screen and (max-width:700px){
    .texto{
        margin-top: 20%;
        font-size: 15px;
        margin-left: 10%;
        padding-bottom: 50%;    
    }
   }
}

.footer {
    display: flex; 
    width: 100%;
    position: relative;
    height: auto;
    background-color: #24272E;
  }
  #footer-legend{
      margin-top: 2%;
      margin-left: 20%;
      margin-bottom: 2%;
      flex: 100%;
      width: 70%;
      text-align: center;
      color: gainsboro;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  #footer-social{
    flex: 30%;
    margin-top: 1%;  
  }
  #footer-social a i{
    width: 25%;   
    font-size: 20px;
    text-align: center;
    color: #fff;
    position: relative;
    margin: 2%;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}

/* about me page */
#about-title{
    margin-top: 2%;
    text-align: center;
    font-family: 'Oxygen Mono';
}
#about-container{
    max-width: 100%; 
    display: flex;
}
#profile-container{
    flex: 20%;
    width: 20%;
    margin-top:2%; 
}
#profile-img{
    position: relative;
    margin: 10%;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}
#text-container{
    position: relative;
    margin-top: 2%;
    margin-right: 5%;
    flex: 80%;
    width: 80%;
    text-align: justify;
    line-height: 1.8;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

#social-title{
    margin-top:2%;
    text-align: center;
    font-family: 'Oxygen Mono';
}
#social-container{
    text-align: center;
    width: 100%;
}

#social-container a i{
    width: 100px;   
    font-size: 30px;
    color: #24272E;
    position: relative;
    margin: 2%;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}